<!DOCTYPE html>
<html>
<head>
    <title>Tickets Table</title>
</head>
<body>
    <h1>Tickets Table</h1>
    <form action="/" method="get">
        <label for="results_per_page_entry">Results per page:</label>
        <input type="number" id="results_per_page_entry" name="results_per_page_entry" value="{{ results_per_page_entry }}">
        <input type="submit" value="Change">
        <input type="submit" name="fetch_tickets" value="Fetch Tickets">
    </form>
    <table>
        <tr>
            <th>Ticket Key</th>
            <th>Title</th>
            <th>Project Name</th>
            <th>Priority</th>
            <th>Updated Date</th>
            <th>Ticket Status</th>
            <th>Creator Email</th>
            <th>Created Date</th>
        </tr>
        {% for ticket in table_data %}
            <tr>
                <td><a href="https://pakrashi.atlassian.net/browse/{{ ticket[0] }}">{{ ticket[0] }}</a></td>
                <td>{{ ticket[1] }}</td>
                <td>{{ ticket[2] }}</td>
                <td>{{ ticket[3] }}</td>
                <td>{{ ticket[4] }}</td>
                <td>{{ ticket[5] }}</td>
                <td>{{ ticket[6] }}</td>
                <td>{{ ticket[7] }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        {% if current_page > 1 %}
            <a href="{{ request.path }}?results_per_page_entry={{ results_per_page_entry }}&page={{ current_page - 1 }}">Previous</a>
        {% endif %}
        {% if current_page < total_pages %}
            <a href="{{ request.path }}?results_per_page_entry={{ results_per_page_entry }}&page={{ current_page + 1 }}">Next</a>
        {% endif %}
    </div>
</body>
</html>
